<div class="logo">
    <h1><a href="{{ url_for('index')}}">ÚLTIMAS NOTÍCIAS</a></h1>
    <ul><li><a href="#searchbar">Buscar</a></li></ul>
</div>
<div class="header">
    <!--Banner Content-->
    <div class="banner">
        <h1><span>SIMPLES <br />RÁPIDO <br />EM UM SÓ LUGAR</span></h1>
        <h2><span>As notícias mais importantes do país em poucos cliques</span></h2>
    <!-- </div>
    
    <div class="banner"> -->
        <h3 class="tit-portais">Sites Buscados</h3>
        <ul class="portals-list">
            <li><a href="https://valor.globo.com/">Valor Economico</a></li>
            <li><a href="https://www.estadao.com.br/">Estadão</a></li>
            <li><a href="https://www.folha.uol.com.br/">Folha de SP</a></li>
            <li><a href="https://oglobo.globo.com/">O Globo</a></li>
            <li><a href="https://valorinveste.globo.com/">Valor Investe</a></li>
            <li><a href="https://einvestidor.estadao.com.br/">E-Investidor</a></li>
            <li><a href="https://pipelinevalor.globo.com/">Pipeline</a></li>
            <li><a href="https://neofeed.com.br/">Neofeed</a></li>
            <li><a href="https://braziljournal.com/">Brazil Journal</a></li>
        </ul>
    </div>

    <!-- SEARCH -->
    {% include 'inc/search.inc.html' %}
    
</div>
<div class="clear"></div>